<footer class="footer" id="footer">
  <div class="column">
    <img
      class="logo"
      src="/images/owy-high-resolution-logo-transparent.png"
      alt="OWY Logo"
    />
    <h4>Contact</h4>
    <p>
      <strong>Address:</strong> To The Moon Street, No. 28, Bandung, Indonesia
    </p>
    <p><strong>Phone:</strong> +62 815 7283 9183</p>
    <p><strong>Open Hours:</strong> 09.00-17.00</p>
  </div>
  <div class="column">
    <h4>My Account</h4>
    <a href="#">Sign In</a>
    <a href="/cart">Cart</a>
    <a href="/orders">My Orders</a>
    <a href="#">Help</a>
  </div>
</footer>
